.btn-search{
    background-color: black;
    color: yellow;
    margin-right: 15px;
    margin-left: 5px;
    padding: 4px;
}
.btn-search:hover{
    background-color: rgb(218, 211, 15);
    color: rgb(7, 7, 7);
}
.searchSection{
    margin-top: 5px;
}
.inp-search{
    background-color: rgb(46, 46, 46);
    color: yellow;
    padding: 5px;
}