#logoHenry {
  margin-right: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.box{
  display: flex;
  position: fixed;
  top:0;
  width: 100%;
  height: auto;
  padding: 5px;
  padding-left: 11px;
  padding-bottom: 11px;
  justify-content: space-between;
  background-color: black;
  border-bottom: yellow solid 2px;
  z-index: 2;
}
.nav{
  padding-right: 10px;
}
.logo{
  margin-top: 8px;
  width: 150px;
  height: auto;
}
.title{
  display: flex;
  flex-direction: row;
  color: white;
}
.logo-text{
  font-family: 'Inconsolata', monospace;
  color:yellow;
  padding-top: 5px;
  padding-right: 2px;
  font-size: 24px;
}